* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 50, 74);
    color: #ffff;
    margin-top: 2rem;
    font-family: "inter";
    position: relative;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

header .background {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 95%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(0.3rem)!important;
}

/* Texto del header */

header .header-container-text {
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 30px;
    position: absolute;
    margin-left: 5%;
    z-index: 1;
}

header .header-container-text h1 {
    color: #ffff;
    font-size: 68px;
}

header .header-container-text h1 span {
    color: #02B3FF;
    transition: 0.3s;
}

header .header-container-text h2 {
    color: #444557;
    font-size: 40px;
}

/* Botón del header */

header .header-container-button {
    width: 50%;
    top: 60%!important;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-left: 16rem;
}

header .header-container-button button {
    height: 7rem;
    width: 25rem;
    border: none;
    border-radius: 2rem;
    background-color: #02B3FF;
    color: #2D2E3A;
    font-size: 30px;
    font-weight: bold;
}

header .header-container-button button:hover {
    background-color: #02b3ff6f;
    border: solid 2px #02B3FF;
}

header .header-container-button button a {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
}

/* Imágen del header */

header .header-container-image {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    z-index: 20;
}

header .header-container-image img {
    height: 80%!important;
    position: absolute;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .background {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 95%;
    padding: 5%;
    margin-top: 5rem;
    z-index: 10;
    backdrop-filter: blur(0.3rem)!important;
}

/* Habilidades */

main .carousel {
    display: none;
}

main hr {
    height: 6px;
    border: none;
    border-radius: 8px;
    background-color: #02B3FF;
    width: 45%;
    margin-top: 10px;
}

main .main-container-skills-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .skill-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30rem;
    width: 30rem;
    background-color: #444557;
    margin-top: 50px;
    border-radius: 2rem;
}

main .skill-box .skill-box-content {
    padding: 2rem;
}

main .skill-box .skill-box-content img {
    width: 50px;
    height: 45px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content h2 {
    font-size: 40px;
}

main .skill-box .skill-box-content p {
    text-align: justify;
    margin-top: 10px;
    font-size: 25px;
}

main .skill-box .skill-box-content h3 {
    font-size: 25px;
    margin-top: 16px;
    color: #02B3FF;
}

main .skill-box .skill-box-content-stars {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content-stars .star-0 {
    font-size: 30px;
    color: #2D2E3A;
    transition: color 0.3s;
    cursor: pointer;
}

main .skill-box .skill-box-content-stars .star-1 {
    font-size: 30px;
    color: gold;
    transition: color 0.3s;
    cursor: pointer;
}

/* Formulario de contacto */

main .main-container-contact-title {
    margin-top: 4rem;
}

main form {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

main form h2 {
    font-size: 26px;
    margin-left: 20px;
}

main form input {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 50px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 10px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form textarea {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 25px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 20px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form input::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form textarea::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form .contact-form-email {
    height: 4rem;
    width: 50%;
}

main form .contact-form-name {
    height: 4rem;
    width: 50%;
}

main form .contact-form-message {
    width: 70%;
    resize: none;
}

main form h2 {
    margin-top: 50px;
}

#mimail {
    opacity: 0;
}

/* Botón de enviar */

main .main-container-button {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

main .main-container-button button {
    height: 5rem;
    width: 12rem;
    border: none;
    border-radius: 1rem;
    background-color: #02B3FF;
    color: #ffff;
    font-size: 26px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-right: 100px;
}

footer hr {
    background-color: #02B3FF;
    border: none;
    border-radius: 10px;
    height: 2px;
    width: 200px;
    position: absolute;
}

footer .footer-container-icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

footer .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #CDCDCD;
    z-index: 1;
}

footer .footer-icon img {
    width: 25px;
    height: 25px;
}

/* BURBUJAS */

.bubble {
    border-radius: 50%;
    opacity: 1;

    position: absolute;
    bottom: -150;
    background-color: rgb(220, 220, 220);
    z-index: 1;

    animation: bubbles 5s linear infinite;
}

.bubble:nth-child(1) {
    width: 4rem;
    height: 4rem;
    left: 5%;
    animation-duration: 5s;
    animation-delay: 2s;
}

.bubble:nth-child(2) {
    width: 6rem;
    height: 6rem;
    left: 35%;
    animation-duration: 5s;
    animation-delay: 3s;
}

.bubble:nth-child(3) {
    width: 2rem;
    height: 2rem;
    left: 20%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.bubble:nth-child(4) {
    width: 5rem;
    height: 5rem;
    left: 45%;
    animation-duration: 6.5s;
    animation-delay: 2s;
}

.bubble:nth-child(5) {
    width: 2rem;
    height: 2rem;
    left: 55%;
    animation-duration: 4.5s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 3rem;
    height: 3rem;
    left: 65%;
    animation-duration: 3.5s;
    animation-delay: 2s;
}

.bubble:nth-child(7) {
    width: 6rem;
    height: 6rem;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 1.5s;
}

.bubble:nth-child(8) {
    width: 4rem;
    height: 4rem;
    left: 85%;
    animation-duration: 5.5s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    width: 2rem;
    height: 2rem;
    left: 95%;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes bubbles {
    0%{
        bottom: 0;
        opacity: 0;
    }
    40%{
        transform: translateX(2rem);
    }
    50%{
        opacity: 0.5;
    }
    60%{
        transform: translateX(-2rem);
    }
    100%{
        bottom: 100%;
        opacity: 0;
    }
}

/* OLAS */

#formHeight {
    z-index: 999;
}

.bg-white {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85rem;
    opacity: 0.1;
    z-index: 998;
    border: none;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(85rem + 115px);
    background-image: url("../libs/img/wave.png");
    background-size: 100vw 115px;
    border: none;
    background-repeat: repeat-x;
}

.wave1 {

    animation: wave1 15s linear infinite;
    animation-delay: 0s;
    opacity: 0.05;
    bottom: 0;
    z-index: 997;
}

.wave2 {
    animation: wave2 5s linear infinite;
    animation-delay: -5s;
    opacity: 0.04;
    bottom: 0;
}

.wave3 {

    animation: wave1 15s linear infinite;
    animation-delay: -2s;
    opacity: 0.02;
    bottom: 0;
}

@keyframes wave1 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 100vw;
    }
}
@keyframes wave2 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -100vw;
    }
}

/* RESPONSIVE */

@media (max-width: 1750px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 62px;
    }

    header .header-container-text h2 {
        font-size: 32px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1700px) {

    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 370px;
        height: 370px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 24px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
        
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 18px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 24px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 24px;
    }

}

@media (max-width: 1550px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 58px;
    }

    header .header-container-text h2 {
        font-size: 28px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
        margin-left: 12rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1450px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 52px;
    }

    header .header-container-text h2 {
        font-size: 26px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
        margin-left: 10rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1350px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 42px;
    }

    header .header-container-text h2 {
        font-size: 26px;
    }

    /* Botón del header */

    header .header-container-button button {
        height: 5rem;
        width: 19rem;
        border-radius: 1rem;
        font-size: 26px;
    }

    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 330px;
        height: 330px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 22px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 20px;
    }
        
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 16px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 22px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 22px;
    }

}

@media (max-width: 1150px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 38px;
    }

    header .header-container-text h2 {
        font-size: 24px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 75%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 5rem;
    }

    header .header-container-button button {
        height: 4rem;
        width: 15rem;
        border-radius: 1rem;
        font-size: 26px;
    }

    /* OLAS */

    .bg-white {
        height: 80rem;
    }
    
    .wave {
        height: calc(80rem + 100px);
        background-size: 100vw 100px;
    }

}

@media (max-width: 980px) {

    /* Header */

    header {
        height: 80vh;
    }

    header .header-container-text h1 {
        font-size: 32px;
    }

    header .header-container-text h2 {
        font-size: 18px;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 5rem;
    }

    header .header-container-button button {
        height: 3rem;
        width: 12rem;
        border-radius: 0.8rem;
        font-size: 20px;
    }
    
    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 230px;
        height: 230px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content img {
        width: 30px;
        height: 30px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 10px;
    }
    
    main form {
        margin-right: 0px;
    }
    
    main form .contact-form-name {
        width: 60%;
    }
    
    main form .contact-form-email {
        width: 60%;
    }
    
    main form .contact-form-message {
        width: 90%;
    }

    /* OLAS */

    .bg-white {
        height: 65rem;
    }
    
    .wave {
        height: calc(65rem + 95px);
        background-size: 100vw 95px;
    }
    
}

@media (max-width: 900px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 28px;
    }

    header .header-container-text h2 {
        font-size: 16px;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 13rem!important
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 12px;
    }
    
}

@media (max-width: 800px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 26px;
    }
    
    header .header-container-text h2 {
        font-size: 15px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 70%!important;
    }
    
    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
}

@media (max-width: 750px) {

    /* Header */

    header {
        height: 70vh;
    }
    
    header .header-container-text h1 {
        font-size: 30px;
    }
    
    header .header-container-text h2 {
        font-size: 20px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 70%!important;
    }
    
    /* Main */

    main .carousel {
        display: block;
        margin-right: 0px;
    }

    main .main-container-skills-boxes {
        display: none;
    }
    
    main .skill-box {
        width: 100%;
        height: 500px;
    }
    
    main .skill-box .skill-box-content {
        padding: 80px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
    
    main .skill-box .skill-box-content img {
        width: 50px;
        height: 50px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }
    
}

@media (max-width: 650px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 34px;
    }
    
    header .header-container-text h2 {
        font-size: 22px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 65%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    
    /* Main */

    main h1 {
        font-size: 32px;
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 26px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }

}

@media (max-width: 600px) {

    /* Header */

    header .header-container-text {
        width: 85%;
        margin-left: 30px;
    }
    
    header .header-container-text h1 {
        font-size: 30px;
    }
    
    header .header-container-text h2 {
        font-size: 18px;
    }
    
    header .header-container-button {
        top: 300px;
        margin-left: 30px;
    }

    header .header-container-image img {
        height: 330px;
    }
    
    /* Main */
    
    main .skill-box {
        width: 100%;
        margin-top: 0px;
    }

    main form .contact-form-name {
        width: 90%;
    }

    main form .contact-form-email {
        width: 90%;
    }

    /* BURBUJAS */

    .bubble:nth-child(1) {
        width: 3.5rem;
        height: 3.5rem;
    }

    .bubble:nth-child(2) {
        width: 2.5rem;
        height: 2.5rem;
    }

    .bubble:nth-child(3) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .bubble:nth-child(4) {
        width: 3rem;
        height: 3rem;
    }

    .bubble:nth-child(5) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .bubble:nth-child(6) {
        width: 2rem;
        height: 2rem;
    }

    .bubble:nth-child(7) {
        width: 3.5rem;
        height: 3.5rem;
    }

    .bubble:nth-child(8) {
        width: 2.5rem;
        height: 2.5rem;
    }

    .bubble:nth-child(9) {
        width: 1.5rem;
        height: 1.5rem;
        display: none;
    }

    @keyframes bubbles {
        0%{
            bottom: 0;
            opacity: 0;
        }
        40%{
            transform: translateX(1rem);
        }
        50%{
            opacity: 0.5;
        }
        60%{
            transform: translateX(-1rem);
        }
        100%{
            bottom: 100%;
            opacity: 0;
        }
    }
    
}

@media (max-width: 520px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 28px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 65%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

}

@media (max-width: 500px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 28px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 13rem!important;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */

    main .skill-box {
        height: 420px;
    }

    main .skill-box .skill-box-content h2 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 18px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 12px;
    }
    
    main .skill-box .skill-box-content img {
        width: 30px;
        height: 30px;
    }

    /* OLAS */

    .bg-white {
        height: 63rem;
    }
    
    .wave {
        height: calc(63rem + 50px);
        background-size: 100vw 50px;
    }

}

@media (max-width: 450px) {

    /* Header */

    header {
        height: 70vh;
    }
    
    header .header-container-text h1 {
        font-size: 24px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 12rem!important;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */

    main .skill-box {
        height: 350px;
    }

    main .skill-box .skill-box-content {
        padding: 55px;
    }

}

@media (max-width: 400px) {

    /* Header */

    header {
        height: 60vh!important;
    }
    
    header .header-container-text h1 {
        font-size: 20px;
    }
    
    header .header-container-text h2 {
        font-size: 12px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 10rem!important;
    }

    header .header-container-button button {
        height: 2.4rem;
        width: 8rem;
        border-radius: 0.8rem;
        font-size: 13px;
    }

    /* Main */

    main hr {
        width: 70%;
    }

    main form .contact-form-message {
        height: 200px;
    }

    /* OLAS */

    .bg-white {
        height: 59rem;
    }
    
    .wave {
        height: calc(59rem + 45px);
        background-size: 100vw 45px;
    }
    
}

@media (max-width: 350px) {

    /* Header */

    header {
        height: 60vh!important;
    }
    
    header .header-container-text h1 {
        font-size: 18px;
    }
    
    header .header-container-text h2 {
        font-size: 10px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 10rem!important;
    }

    header .header-container-button button {
        height: 2.4rem;
        width: 8rem;
        border-radius: 0.8rem;
        font-size: 13px;
    }

}