* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 50, 74);
    color: #ffff;
    margin-top: 2rem;
    font-family: "inter";
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

header .background {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 95%;
    overflow: hidden;
    position: relative;
}

/* Texto del header */

header .header-container-text {
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 30px;
    position: absolute;
    margin-left: 5%;
    z-index: 1;
}

header .header-container-text h1 {
    color: #ffff;
    font-size: 68px;
}

header .header-container-text h1 span {
    color: #02B3FF;
    transition: 0.3s;
}

header .header-container-text h2 {
    color: #444557;
    font-size: 40px;
}

/* Botón del header */

header .header-container-button {
    width: 50%;
    top: 60%!important;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-left: 16rem;
}

header .header-container-button button {
    height: 7rem;
    width: 25rem;
    border: none;
    border-radius: 2rem;
    background-color: #02B3FF;
    color: #2D2E3A;
    font-size: 30px;
    font-weight: bold;
}

header .header-container-button button:hover {
    background-color: #02b3ff6f;
    border: solid 2px #02B3FF;
}

header .header-container-button button a {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
}

/* Imágen del header */

header .header-container-image {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

header .header-container-image img {
    height: 90%!important;
    position: absolute;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .background {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 95%;
    padding: 5%;
    margin-top: 150px;
}

/* Habilidades */

main .carousel {
    display: none;
}

main hr {
    height: 6px;
    border: none;
    border-radius: 8px;
    background-color: #02B3FF;
    width: 45%;
    margin-top: 10px;
}

main .main-container-skills-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .skill-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30rem;
    width: 30rem;
    background-color: #444557;
    margin-top: 50px;
    border-radius: 2rem;
}

main .skill-box .skill-box-content {
    padding: 2rem;
}

main .skill-box .skill-box-content img {
    width: 50px;
    height: 45px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content h2 {
    font-size: 40px;
}

main .skill-box .skill-box-content p {
    text-align: justify;
    margin-top: 10px;
    font-size: 25px;
}

main .skill-box .skill-box-content h3 {
    font-size: 25px;
    margin-top: 16px;
    color: #02B3FF;
}

main .skill-box .skill-box-content-stars {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content-stars .star-0 {
    font-size: 30px;
    color: #2D2E3A;
    transition: color 0.3s;
    cursor: pointer;
}

main .skill-box .skill-box-content-stars .star-1 {
    font-size: 30px;
    color: gold;
    transition: color 0.3s;
    cursor: pointer;
}

/* Formulario de contacto */

main .main-container-contact-title {
    margin-top: 4rem;
}

main form {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

main form h2 {
    font-size: 26px;
    margin-left: 20px;
}

main form input {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 50px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 10px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form textarea {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 25px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 20px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form input::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form textarea::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form .contact-form-email {
    height: 4rem;
    width: 50%;
}

main form .contact-form-name {
    height: 4rem;
    width: 50%;
}

main form .contact-form-message {
    width: 70%;
    resize: none;
}

main form h2 {
    margin-top: 50px;
}

#mimail {
    opacity: 0;
}

/* Botón de enviar */

main .main-container-button {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

main .main-container-button button {
    height: 5rem;
    width: 12rem;
    border: none;
    border-radius: 1rem;
    background-color: #02B3FF;
    color: #ffff;
    font-size: 26px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-right: 100px;
}

footer hr {
    background-color: #02B3FF;
    border: none;
    border-radius: 10px;
    height: 2px;
    width: 200px;
    position: absolute;
}

footer .footer-container-icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

footer .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #CDCDCD;
    z-index: 1;
}

footer .footer-icon img {
    width: 25px;
    height: 25px;
}

/* RESPONSIVE */

@media (max-width: 1750px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 62px;
    }

    header .header-container-text h2 {
        font-size: 32px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1550px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 58px;
    }

    header .header-container-text h2 {
        font-size: 28px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
        margin-left: 12rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1450px) {

    /* Texto del header */

    header .header-container-text {
        width: 100%;
    }

    header .header-container-text h1 {
        font-size: 52px;
    }

    header .header-container-text h2 {
        font-size: 26px;
    }

    /* Botón del header */

    header .header-container-button {
        width: 50%;
        top: 30rem;
        margin-left: 10rem;
    }

    header .header-container-button button {
        height: 7rem;
        width: 23rem;
        border-radius: 2rem;
        font-size: 28px;
    }

}

@media (max-width: 1350px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 42px;
    }

    header .header-container-text h2 {
        font-size: 26px;
    }

    /* Botón del header */

    header .header-container-button button {
        height: 5rem;
        width: 19rem;
        border-radius: 1rem;
        font-size: 26px;
    }

    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 330px;
        height: 330px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 22px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 20px;
    }
        
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 16px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 22px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 22px;
    }

}

@media (max-width: 1150px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 36px;
    }

    header .header-container-text h2 {
        font-size: 22px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 85%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 5rem;
    }

    header .header-container-button button {
        height: 4rem;
        width: 15rem;
        border-radius: 1rem;
        font-size: 26px;
    }

}

@media (max-width: 980px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 32px;
    }

    header .header-container-text h2 {
        font-size: 18px;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 5rem;
    }

    header .header-container-button button {
        height: 3rem;
        width: 12rem;
        border-radius: 0.8rem;
        font-size: 20px;
    }
    
    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 230px;
        height: 230px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content img {
        width: 30px;
        height: 30px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 10px;
    }
    
    main form {
        margin-right: 0px;
    }
    
    main form .contact-form-name {
        width: 60%;
    }
    
    main form .contact-form-email {
        width: 60%;
    }
    
    main form .contact-form-message {
        width: 90%;
    }
    
    /* Footer */
    
    footer {
        position: absolute;
        margin: 0px;
    }
    
}

@media (max-width: 900px) {

    /* Header */

    header .header-container-text h1 {
        font-size: 28px;
    }

    header .header-container-text h2 {
        font-size: 16px;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 5rem;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 12px;
    }
    
}

@media (max-width: 800px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 26px;
    }
    
    header .header-container-text h2 {
        font-size: 15px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 80%!important;
    }
    
    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
}

@media (max-width: 750px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 30px;
    }
    
    header .header-container-text h2 {
        font-size: 20px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 70%!important;
    }

    
    /* Main */

    main .carousel {
        display: block;
        margin-right: 50px;
    }

    main .main-container-skills-boxes {
        display: none;
    }
    
    main .skill-box {
        width: 100%;
        height: 500px;
    }
    
    main .skill-box .skill-box-content {
        padding: 80px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
    
    main .skill-box .skill-box-content img {
        width: 50px;
        height: 50px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }
    
}

@media (max-width: 650px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 34px;
    }
    
    header .header-container-text h2 {
        font-size: 22px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 65%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    
    /* Main */

    main {
        margin-left: 30px;
        margin-right: 30px;
    }

    main h1 {
        font-size: 32px;
        font-size: 30px;
    }

    main .carousel {
        margin-right: 0px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 26px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }

}

@media (max-width: 600px) {

    /* Header */

    header .header-container-text {
        width: 85%;
        margin-left: 30px;
    }
    
    header .header-container-text h1 {
        font-size: 30px;
    }
    
    header .header-container-text h2 {
        font-size: 18px;
    }
    
    header .header-container-button {
        top: 300px;
        margin-left: 30px;
    }

    header .header-container-image img {
        height: 330px;
    }
    
    /* Main */
    
    main .skill-box {
        width: 100%;
    }

    main form .contact-form-name {
        width: 90%;
    }

    main form .contact-form-email {
        width: 90%;
    }
    
}

@media (max-width: 520px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 28px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 65%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

}

@media (max-width: 500px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 28px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 13rem!important;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */

    main .skill-box {
        height: 420px;
    }

    main .skill-box .skill-box-content h2 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 18px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 24px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 12px;
    }
    
    main .skill-box .skill-box-content img {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 450px) {

    /* Header */

    header {
        height: 70vh;
    }
    
    header .header-container-text h1 {
        font-size: 24px;
    }
    
    header .header-container-text h2 {
        font-size: 14px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 12rem!important;
    }

    header .header-container-button button {
        height: 2.8rem;
        width: 10rem;
        border-radius: 0.8rem;
        font-size: 14px;
    }

    /* Main */

    main .skill-box {
        height: 350px;
    }

    main .skill-box .skill-box-content {
        padding: 55px;
    }

}

@media (max-width: 400px) {

    /* Header */

    header {
        height: 60vh!important;
    }
    
    header .header-container-text h1 {
        font-size: 20px;
    }
    
    header .header-container-text h2 {
        font-size: 12px;
    }

    /* Imágen del header */

    header .header-container-image img {
        height: 55%!important;
    }

    /* Botón del header */

    header .header-container-button {
        margin-left: 2rem;
        top: 10rem!important;
    }

    header .header-container-button button {
        height: 2.4rem;
        width: 8rem;
        border-radius: 0.8rem;
        font-size: 13px;
    }

    /* Main */

    main hr {
        width: 70%;
    }

    main form .contact-form-message {
        height: 200px;
    }
    
}