* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2D2E3A;
    color: #ffff;
    margin-top: 50px;
    font-family: "inter";
}

/* HEADER */

/* Texto del header */

header .header-container-text {
    width: 45%;
    float: left;
    text-align: left;
    margin-top: 30px;
    position: absolute;
    margin-left: 150px;
    z-index: 1;
}

header .header-container-text h1 {
    color: #ffff;
    font-size: 40px;
}

header .header-container-text h1 span {
    color: #02B3FF;
    transition: 0.3s;
}

header .header-container-text h2 {
    color: #444557;
    font-size: 25px;
}

/* Botón del header */

header .header-container-button {
    width: 50%;
    top: 400px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-left: 100px;
}

header .header-container-button button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #02B3FF;
    color: #ffff;
}

header .header-container-button button:hover {
    background-color: #02b3ff6f;
    border: solid 2px #02B3FF;
}

header .header-container-button button a {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
}

/* Imágen del header */

header .header-container-image {
    display: flex;
    height: 550px;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header-container-image img {
    height: 500px;
    object-fit: contain;
}

header .header-container-hr {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header-container-hr hr {
    height: 2px;
    width: 80%;
    background-color: #444557;
    border: none;
    border-radius: 2px;
    margin-top: 0px;
}

/* MAIN */

/* Habilidades */

main .carousel {
    display: none;
}

main {
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

main hr {
    height: 6px;
    border: none;
    border-radius: 8px;
    background-color: #02B3FF;
    width: 45%;
    margin-top: 10px;
}

main .main-container-skills-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .skill-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
    background-color: #444557;
    margin-top: 50px;
    border-radius: 10px;
}

main .skill-box .skill-box-content {
    padding: 20px;
}

main .skill-box .skill-box-content img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content h2 {
    font-size: 20px;
}

main .skill-box .skill-box-content p {
    text-align: justify;
    margin-top: 10px;
    font-size: 14px;
}

main .skill-box .skill-box-content h3 {
    font-size: 18px;
    margin-top: 16px;
    color: #02B3FF;
}

main .skill-box .skill-box-content-stars {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .skill-box .skill-box-content-stars .star-0 {
    font-size: 20px;
    color: #2D2E3A;
    transition: color 0.3s;
    cursor: pointer;
}

main .skill-box .skill-box-content-stars .star-1 {
    font-size: 20px;
    color: gold;
    transition: color 0.3s;
    cursor: pointer;
}

/* Formulario de contacto */

main .main-container-contact-title {
    margin-top: 200px;
}

main form {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

main form h2 {
    font-size: 20px;
    margin-left: 20px;
}

main form input {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 50px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 10px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form textarea {
    display: flex;
    background-color: #444557;
    border: 0;
    border-radius: 25px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    padding: 20px;
    color: #ffff;
    caret-color: #02B3FF;
}

main form input::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form textarea::placeholder {
    color: #2D2E3A;
    opacity: 1;
    font-family: "inter";
}

main form .contact-form-email {
    height: 50px;
    width: 50%;
}

main form .contact-form-name {
    height: 50px;
    width: 50%;
}

main form .contact-form-message {
    width: 70%;
    resize: none;
}

main form h2 {
    margin-top: 50px;
}

#mimail {
    opacity: 0;
}

/* Botón de enviar */

main .main-container-button {
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

main .main-container-button button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #02B3FF;
    color: #ffff;
    font-size: 15px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-right: 100px;
}

footer hr {
    background-color: #02B3FF;
    border: none;
    border-radius: 10px;
    height: 2px;
    width: 200px;
    position: absolute;
}

footer .footer-container-icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

footer .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #CDCDCD;
    z-index: 1;
}

footer .footer-icon img {
    width: 25px;
    height: 25px;
}

/* RESPONSIVE */

@media (max-width: 1250px) {

    /* Header */

    header .header-container-image img {
        height: 450px;
        margin-top: 50px;
    }

    header .header-container-text {
        width: 55%;
        margin-top: 50px;
        margin-left: 50px;
    }

    header .header-container-button {
        margin-left: 50px;
    }

    /* Main */

    main {
        margin-left: 50px;
        margin-right: 0px;
    }

    main .main-container-skills-boxes {
        margin-right: 50px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 16px;
    }
        
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 14px;
    }

    main form {
        margin-right: 50px;
    }

    }

@media (max-width: 1050px) {

    /* Header */

    header .header-container-image img {
        height: 400px;
    }

    header .header-container-text h1 {
        font-size: 36px;
    }

    header .header-container-text h2 {
        font-size: 22px;
    }

    header .header-container-button {
        top: 300px;
    }

    /* Main */

    main {
        margin-left: 100px;
        margin-right: 50px;
    }

    main .main-container-skills-boxes .skill-box {
        width: 380px;
        height: 380px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 24px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
        
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 20px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 24px;
    }

    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 24px;
    }

    }

@media (max-width: 980px) {

    /* Header */
    
    header .header-container-text {
        width: 65%;
    }
    
    header .header-container-text h1 {
        color: #ffff;
        font-size: 38px;
    }
    
    header .header-container-button {
        top: 330px;
    }
    
    header .header-container-image img {
        height: 370px;
    }
    
    header .header-container-image hr {
        width: 100%;
    }
    
    /* Main */

    main .main-container-skills-boxes .skill-box {
        width: 230px;
        height: 230px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content img {
        width: 30px;
        height: 30px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 16px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 10px;
    }
    
    main form {
        margin-right: 0px;
    }
    
    main form .contact-form-name {
        width: 60%;
    }
    
    main form .contact-form-email {
        width: 60%;
    }
    
    main form .contact-form-message {
        width: 90%;
    }
    
    /* Footer */
    
    footer {
        position: absolute;
        margin: 0px;
    }
    
}

@media (max-width: 900px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 36px;
    }
    
    header .header-container-text h2 {
        font-size: 20px;
    }

    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content p {
        font-size: 12px;
    }
    
}

@media (max-width: 800px) {

    /* Header */
    
    header .header-container-text h1 {
        font-size: 34px;
    }
    
    header .header-container-text h2 {
        font-size: 18px;
    }
    
    header .header-container-image img {
        height: 350px;
    }
    
    /* Main */
    
    main .main-container-skills-boxes .skill-box {
        width: 270px;
        height: 270px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content {
        padding: 15px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h2 {
        font-size: 18px;
    }
    
    main .main-container-skills-boxes .skill-box .skill-box-content h3 {
        font-size: 12px;
    }
    
}

@media (max-width: 750px) {
    
    /* Main */

    main .carousel {
        display: block;
        margin-right: 50px;
    }

    main .main-container-skills-boxes {
        display: none;
    }
    
    main .skill-box {
        width: 100%;
        height: 500px;
    }
    
    main .skill-box .skill-box-content {
        padding: 80px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
    
    main .skill-box .skill-box-content img {
        width: 50px;
        height: 50px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 30px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }
    
}

@media (max-width: 730px) {

    /* Header */
    
    header .header-container-text {
        width: 70%;
        margin-top: 50px;
    }
    
    header .header-container-text h1 {
        font-size: 30px;
    }

    header .header-container-button button {
        width: 170px;
    }
    
    header .header-container-image img {
        height: 330px;
    }

    /* Main */
    
    main .skill-box .skill-box-content p {
        font-size: 18px;
    }

    main h1 {
        font-size: 34px;
    }
    
}

@media (max-width: 650px) {

    /* Header */

    header .header-container-text {
        margin-left: 40px;
    }
    
    header .header-container-button {
        margin-left: 40px;
    }
    
    /* Main */

    main {
        margin-left: 30px;
        margin-right: 30px;
    }

    main h1 {
        font-size: 32px;
        font-size: 30px;
    }

    main .carousel {
        margin-right: 0px;
    }
    
    main .skill-box .skill-box-content h2 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 26px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 32px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 20px;
    }

}

@media (max-width: 600px) {

    /* Header */

    header .header-container-text {
        margin-left: 30px;
    }
    
    header .header-container-text h1 {
        font-size: 28px;
    }
    
    header .header-container-text h2 {
        font-size: 16px;
    }
    
    header .header-container-button {
        top: 300px;
        margin-left: 30px;
    }

    header .header-container-image {
        height: 500px;
    }
    
    header .header-container-hr hr {
        width: 100%;
    }
    
    /* Main */
    
    main .skill-box {
        width: 100%;
    }

    main form .contact-form-name {
        width: 90%;
    }

    main form .contact-form-email {
        width: 90%;
    }
    
}

@media (max-width: 500px) {

    /* Header */
    
    header {
        height: 550px;
    }
    
    header .header-container-text h1 {
        font-size: 26px;
    }
    
    header .header-container-image img {
        height: 260px;
    }

    /* Main */

    main .skill-box {
        height: 420px;
    }

    main .skill-box .skill-box-content h2 {
        font-size: 28px;
    }
    
    main .skill-box .skill-box-content h3 {
        font-size: 22px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-1 {
        font-size: 28px;
    }
    
    main .skill-box .skill-box-content .skill-box-content-stars .star-0 {
        font-size: 28px;
    }
    
    main .skill-box .skill-box-content p {
        font-size: 16px;
    }
    
    main .skill-box .skill-box-content img {
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 450px) {

    /* Header */

    header .header-container-text {
        width: 90%;
        margin-top: 50px;
    }

    header .header-container-text h1 {
        font-size: 24px;
    }
    
    header .header-container-image {
        height: 470px;
    }

    header .header-container-image img {
        height: 240px;
    }

    /* Main */

    main .skill-box {
        height: 380px;
    }

    main .skill-box .skill-box-content {
        padding: 55px;
    }

}

@media (max-width: 400px) {

    /* Header */
    
    header {
        height: 550px;
    }
    
    header .header-container-text h1 {
        font-size: 22px;
    }

    header .header-container-image {
        height: 450px;
    }
    
    header .header-container-image img {
        height: 215px;
    }

    header .header-container-button {
        top: 280px;
    }

    header .header-container-button button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    /* Main */

    main form .contact-form-message {
        height: 200px;
    }
    
}