* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #001d29;
    color: #ffff;
    margin-top: 50px;
    font-family: "inter";
    position: relative;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 50px;
}

header img {
    width: 35px;
    height: 35px;
    margin-right: 50px;
    margin-left: 50px;
}

header hr {
    width: 100%;
    margin-left: 50px;
    height: 2px;
    background-color: #02B3FF;
    border: none;
    border-radius: 2px;
}

header h1 {
    font-family: 'Unbounded';
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.container-project {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 4rem;
    background-color: transparent;
    border: 2px solid #02B3FF;
    border-radius: 50px;
    backdrop-filter: blur(0.3rem)!important;
    padding: 6rem 2rem 6rem 2rem;
    z-index: 10;
}

.project-img {
    aspect-ratio: 1/1;
    width: 25rem;
}

.container-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-text {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.container-project h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Unbounded';
    font-weight: 400;
}

.container-project p {
    font-size: 1.5rem;
    text-align: justify;
}

.p2 {
    text-align: left;
    flex-direction: row-reverse;
}

.link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid #02B3FF!important;
    border-radius: 10rem;
    border: none;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link a:hover {
    background-color: #02B3FF;
    border: solid 2px #02B3FF;
}

@keyframes float {
    33.3% {
        transform: translateY(-0.3rem);
    }
    66.6% {
        transform: translateY(0.3rem);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes float2 {
    33.3% {
        transform: translateY(0.3rem);
    }
    66.6% {
        transform: translateY(-0.3rem);
    }
    100% {
        transform: translateY(0%);
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-right: 100px;
    border-top: 2px solid #02B3FF;
}

footer hr {
    background-color: #02B3FF;
    border: none;
    border-radius: 10px;
    height: 2px;
    width: 200px;
    position: absolute;
}

footer .footer-container-icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

footer .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #001d29;
    z-index: 1;
}

footer .footer-icon a {
    width: 25px;
    height: 25px;
}

footer .footer-icon img {
    width: 100%;
    height: 100%;
}

/* TAGS */

.tags {
    display: flex;
    list-style: none;
    padding: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.html::before {
    content: "HTML";
    background-color: rgba(2, 179, 255, 0.5);
    padding: 0.6rem;
    color: #2D2E3A;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #02b3ff;
    font-size: 14px;
    margin-right: 0.5rem;
}

.css::before {
    content: "CSS";
    background-color: rgba(2, 179, 255, 0.5);
    padding: 0.6rem;
    color: #2D2E3A;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #02b3ff;
    font-size: 14px;
    margin-right: 0.5rem;
}

.js::before {
    content: "JS";
    background-color: rgba(2, 179, 255, 0.5);
    padding: 0.6rem;
    color: #2D2E3A;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #02b3ff;
    font-size: 14px;
    margin-right: 0.5rem;
}

.uxui::before {
    content: "UX/UI";
    background-color: rgba(2, 179, 255, 0.5);
    padding: 0.6rem;
    color: #2D2E3A;
    font-weight: bold;
    border-radius: 1rem;
    border: solid 2px #02b3ff;
    font-size: 14px;
    margin-right: 0.5rem;
}

@keyframes bubbles {
    0%{
        bottom: 0;
        opacity: 0;
    }
    40%{
        transform: translateX(1rem);
    }
    50%{
        opacity: 0.5;
    }
    60%{
        transform: translateX(-1rem);
    }
    100%{
        bottom: 100%;
        opacity: 0;
    }
}

@media (max-width: 1500px) {

    main {
        padding-left: 6rem;
        padding-right: 6rem;
    }

}

@media (max-width: 1250px) {

    main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .container-project h2 {
        font-size: 36px;
    }
    
    .container-project p {
        font-size: 22px;
    }

}

@media (max-width: 1000px) {

    .container-project {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .project-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-bottom: 1rem;
    }

    .project-text {
        width: 80%;
        padding: 0rem;
    }

}

@media (max-width: 700px) {

    .container-project {
        margin: 2rem;
    }

    .container-project h2 {
        font-size: 30px;
    }

    .container-project p {
        font-size: 18px;
    }

    /* BURBUJAS */

    .bubble:nth-child(1) {
        width: 3.5rem;
        height: 3.5rem;
    }

    .bubble:nth-child(2) {
        width: 2.5rem;
        height: 2.5rem;
    }

    .bubble:nth-child(3) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .bubble:nth-child(4) {
        width: 3rem;
        height: 3rem;
    }

    .bubble:nth-child(5) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .bubble:nth-child(6) {
        width: 2rem;
        height: 2rem;
    }

    .bubble:nth-child(7) {
        width: 3.5rem;
        height: 3.5rem;
    }

    .bubble:nth-child(8) {
        width: 2.5rem;
        height: 2.5rem;
    }

    .bubble:nth-child(9) {
        width: 1.5rem;
        height: 1.5rem;
        display: none;
    }

    @keyframes bubbles {
        0%{
            bottom: 0;
            opacity: 0;
        }
        40%{
            transform: translateX(1rem);
        }
        50%{
            opacity: 0.5;
        }
        60%{
            transform: translateX(-1rem);
        }
        100%{
            bottom: 100%;
            opacity: 0;
        }
    }

}

@media (max-width: 500px) {

    header {
        margin-bottom: 1rem;
    }

    header img {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    header hr {
        margin-left: 1rem;
    }

    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-project {
        padding: 1rem;
        margin: 2rem;
    }

    .container-project h2 {
        font-size: 24px;
    }

    .container-project p {
        font-size: 12px;
    }

    .tags {
        justify-content: center;
    }

    .link {
        justify-content: center;
    }
    
    .link a {
        width: 4rem;
        height: 2rem;
        border: none;
        font-size: 15px;
    }

    .html::before {
        font-size: 8px;
    }
    
    .css::before {
        font-size: 8px;
    }
    
    .js::before {
        font-size: 8px;
    }
    
    .uxui::before {
        font-size: 8px;
    }

}